body 
{
    color: $primaryColor;
    font-family: $primaryFont;
    font-size: $fontSizeBase;
    font-weight: $fontWeightNormal;

    &.pg-home 
    {
        background-color: $bgColorPrimary;
    }

    &.pg-somos
    {
        background-color: $bgQuemSomos;
    }

    &.pg-como-ajudar
    {
        background-color: $bgComoAjudar;
    }    
}

img 
{
    display: inline-block; 
    margin-bottom: 0;
}

a,
a:hover,
a:focus 
{
    text-decoration: none;
}

p 
{
    font-size: $fontSizeBase * 1.5;
    font-weight: $fontWeightNormal;
    line-height: 1.5em;
}

.ss-wrapper 
{
    border-radius: $radiusPadrao;
    box-shadow: $dropShadow;
    width: 1375px; 
    max-width: 100%;  
    margin: 30px auto 0;  
    overflow: hidden; 
    position: relative; 
}

.ss-container 
{
    width: $container-md;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0 50px;
    position: relative;

    @include breakpoint($allCelular)
    {   
        text-align: center;  
    }    

    &::before 
    {
        background: $primaryColor;
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        top: 0;       
        left: 0;
    }

    header 
    {
        padding: 0 0 20px;
        text-align: center;
        overflow: hidden;
        position: relative;

        @include breakpoint($allCelular)
        {   
            text-align: center;
        }           

        &::after 
        {
            content: "";
            width: 50px;
            height: 2px;
            position: absolute;
            right: 50%;
            margin-right: -25px;
            bottom: 10px; 

            @include breakpoint($allCelular)
            {   
                right: 50%;
                margin-right: -25px;
            } 

        }

        h2 
        {
            font-size: $fontSizeBase * 2;
            line-height: 1.3em;
            font-weight: $fontWeightNormal;
            letter-spacing: 4px;
            margin: 0;
            padding: 0; 
            text-transform: uppercase;

            @include breakpoint($allCelular)
            {   
                font-size: $fontSizeBase * 2;
                float: none;
                max-width: 100%;
                width: 100%;
            } 

        }
    }

}

.btn 
{
    border-radius: $radiusPadrao;
    color: #fff;
    display: inline-block;
    font-size: $fontSizeBase * 2.1;
    font-weight: $fontWeightSemiBold;
    line-height: 1em;
    padding: 12px 50px;
    letter-spacing: 1px;
    transition: $transitionAll5s;

    &.btn-conheca 
    {
        background: $bgColorBtn;
        box-shadow: $dropShadowLight;
        float: right;
    }

    &.btn-veja
    {
        background: $bgColorBtnMais;
        font-family: $secondaryFont;
        font-size: $fontSizeBase * 1.8;
        font-weight: $fontWeightNormal;
        line-height: 1.2em;
        letter-spacing: 0;
        padding: 10px 30px 10px 50px;
        text-transform: capitalize;
        margin: 0 auto;

        i
        {
            font-size: $fontSizeBase * 1.4;
            margin-left: $fontSizeBase;
        }
    }

    &.btn-seja 
    {
        background: $primaryColor;
        color: #373f4b;
        box-shadow: $dropShadowLight;
        font-size: $fontSizeBase * 1.6;
        font-weight: $fontWeightSemiBold;
        padding: 12px 30px;
        text-transform: uppercase;
    }

    &.btn-conheca,
    &.btn-veja,
    &.btn-seja
    {
        &:hover,
        &:focus  
        {
            background: $bgColorBtnHover;
            color: #fff;    
        }

        @include breakpoint($smallCelular)
        {   
            display: block;
        } 
        
    }

}

.sessao 
{
    position: relative;
    overflow: hidden;

    .ss-conteudo 
    {
        text-align: center;

        p 
        {
            //font-weight: $fontWeightLight;
        }
    }

    &.font-wt 
    {
        header 
        {
         
            h2 
            {
                color: $primaryColor;
            }

            &::after 
            {
                background-color: $primaryColor;
            }

        }

        p 
        {
            color: $primaryColor;
        }

    }   
    
    &.font-brw
    {
        header 
        {
         
            h2 
            {
                color: $secondaryColor;
            }

            &::after 
            {
                background-color: $secondaryColor;
            }

        }

        p 
        {
            color: $secondaryColor;
        }
    }

}

.lista-itens
{
    overflow: hidden;
    margin: 0;
    padding: 40px 0;

    li 
    {
        list-style: inside none;
        float: left;
        width: 17%;
        margin: 0 1.5% 3% 1.5%;

        img 
        {
            width: 100%;
        }

    }

}

.ss-ajude 
{
    background: url("../imgs/ss-voluntario.jpg") no-repeat center center;
    background-size: cover;     
    h2  
    {
        font-size: $fontSizeBase * 3.5;
        font-weight: $fontWeightLight;
        line-height: 1.2em;
        letter-spacing: 10px;
        padding: 0 25%;
        text-transform: uppercase;
    }
}