#hd-principal
{
    position: absolute;
    width: 100%;
    z-index: 90;
    background: $gradienteTopPrincipal;
}

.pg-somos #hd-principal
{
    background: $gradienteTopQuemSomos; 
}

.pg-como-ajudar #hd-principal
{
    background: $gradienteTopComoAjudar;
}

.hd-container 
{

    @include breakpoint($allCelular)
    {   
        padding-top: 100px;
        padding-bottom: 100px;
    }   
    
    .ss-ct-nav
    {
        padding: 0;
    }

    .ss-navbar
    {
        background-color: transparent;
        border: 0 none;
    }

    .logo-ct .logo-img
    {
        padding: 0 ($grid-gutter-width / 2);
    }

}

.nav-principal
{
    width: 75%;
    float: left;
    text-align: center;
    margin-top: 8px;

    li
    {
        display: inline-block;

        a 
        {
            color: $primaryColor;
            font-size: $fontSizeBase * 1.6;
            font-weight: $fontWeightNormal;
            line-height: $fontSizeBase * 2;
            padding: $fontSizeBase ($fontSizeBase/2);
            transition: $transitionAll;

            &:hover,
            &:focus 
            {
                background-color: transparent;
                text-transform: uppercase;
                font-size: $fontSizeBase * 2;
                font-weight: $fontWeightBold;                
            }
        }

        &.active,
        &:hover
        {
            a 
            {
                background: transparent;
                text-transform: uppercase;
                font-size: $fontSizeBase * 2;
                font-weight: $fontWeightBold; 
            }
        }

    }

}

.ss-navbar
{

    .icons-hd-ct
    {
        margin: 15px 0 0;

        li 
        {
            a 
            {
                background-color: $primaryColor;
                background-color: rgba(255,255,255,0.4);
                border-radius: $radiusPadrao;
                padding: 4px 30px 1px;
                transition: $transitionBg;

                &:hover,
                &:focus
                {
                    background-color: rgba(255,255,255,0.6);
                }

                i 
                {
                    color: #666;
                    font-size: $fontSizeBase * 1.6;
                }
            }
        }

    }

}