#hd-principal
{
    position: absolute;
    width: 100%;
    z-index: 90;
    background: $gradienteTopPrincipal;
    .nav-principal
    {     
        @include breakpoint($allCelular)
        { 
            background-color: rgb(150,204,199);
        }
    }
}

.pg-somos #hd-principal 
{
    background: $gradienteTopQuemSomos; 
    .nav-principal
    {
        @include breakpoint($allCelular)
        {   
            background-color: rgb(188,207,159);  
        } 
    }    
}

.pg-como-ajudar #hd-principal
{
    background: $gradienteTopComoAjudar;
    .nav-principal
    {    
        @include breakpoint($allCelular)
        {   
            background-color: rgb(235,89,81);  
        }      
    }
}

.pg-blog #hd-principal
{
    background: $gradienteTopBlog;
    .nav-principal
    {     
        @include breakpoint($allCelular)
        {   
            background-color: rgb(77,76,76);  
        } 
    }     
}

.pg-contato #hd-principal
{
    background: $gradienteTopContato;
    margin-top: 55px;
    max-width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    .nav-principal
    {
        @include breakpoint($allCelular)
        {   
            background-color: $primaryColor; 
            border: 1px solid #ddd;
            margin: 0;
            border-top: 0;            
        } 
    }         
}

.hd-container 
{

    @include breakpoint($allCelular)
    {   
        padding-top: 30px;
        padding-bottom: 30px;
    }   
    
    .ss-ct-nav
    {
        padding: 0;
    }

    .ss-navbar
    {
        background-color: transparent;
        border: 0 none;
    }

    .logo-ct .logo-img
    {
        padding: 0 ($grid-gutter-width / 2);
    }

}

.navbar-header
{
    @include breakpoint($allCelular)
    {   
        margin-bottom: 15px;
    }
}

.nav-principal
{
    width: 73%;
    float: left;
    text-align: center;
    margin-top: 8px;
    //border: 1px solid #ddd;
    //border-top: 0;

    @include breakpoint($allCelular)
    {   
        width: 100%;
        margin: 0;
        padding: 10px;
        text-align: left;
    }

    li
    {
        display: inline-block;

        @include breakpoint($allCelular)
        {   
            display: block;
        }

        a 
        {
            color: $primaryColor;
            font-size: $fontSizeBase * 1.6;
            font-weight: $fontWeightNormal;
            line-height: $fontSizeBase * 2;
            padding: $fontSizeBase ($fontSizeBase/2);
            transition: $transitionAll;

            @include breakpoint($allCelularPlus1)
            {   
                font-size: $fontSizeBase * 1.3;
            }

            &:focus
            {
                background-color: transparent;
            }

            @include breakpoint($allDesktop)
            {             
                &:hover,
                &:focus 
                {
                    background-color: transparent;
                    text-transform: uppercase;
                    font-size: $fontSizeBase * 2;
                    font-weight: $fontWeightBold;               
                    @include breakpoint($allCelularPlus1)
                    {   
                        font-size: $fontSizeBase * 1.8;
                    }                 
                }
            }
        }

        &.active
        {
            a 
            {
                background: transparent;
                text-transform: uppercase;
                font-size: $fontSizeBase * 2;
                font-weight: $fontWeightBold; 
            }
        }

    }

}


.ss-navbar
{

    .icons-hd-ct
    {
        margin: 15px 0 0;

        li 
        {
            a 
            {
                background-color: $primaryColor;
                background-color: rgba(255,255,255,0.7);
                border-radius: $radiusPadrao;
                padding: 4px 30px 1px;
                transition: $transitionBg;

                &:hover,
                &:focus
                {
                    background-color: rgba(255,255,255,0.7);
                }

                i 
                {
                    color: #444;
                    font-size: $fontSizeBase * 1.6;
                }
            }
        }

    }

}

.pg-contato
{
    .nav-principal
    {
        a 
        {
            color: $colorLinksBlack;
        }
    }
}