.ss-slider-home
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    .legenda 
    {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 20;

        h2 
        {
            color: $primaryColor;
            font-size: $fontSizeBase * 5.5;
            font-weight: $fontWeightBold;
            line-height: 1.5em;
        }

    }

    .ss-container 
    {
        &::before 
        {
            display: none;
        }
    }
}

.ss-somos
{
    background: url("../imgs/ss-quem-somos.jpg") no-repeat top center;
    background-size: cover;

    header
    {
        h2 
        {
            font-size: $fontSizeBase * 2.5;
        }
    }

    .ss-conteudo
    {
        text-align: right; 
        margin-bottom: 20px;
        padding-top: 400px;
        overflow: hidden;

        @include breakpoint($allCelular)
        {   
            text-align: center;
        } 

        p 
        {
            font-size: $fontSizeBase * 2.5;
            font-weight: $fontWeightBold;
            float: right;
            line-height: 1.2em;
            max-width: 565px;

            @include breakpoint($allCelular)
            {   
                font-size: $fontSizeBase * 1.6;
                float: none;
                line-height: 1.6em;
                max-width: 100%;
            }

        }

    }

}

.ss-galeria-home 
{
    background-color: $bgColorGaleria;

    .lista-galeria
    {
        padding: 60px 0 30px;

        li 
        {
            box-shadow: $dropShadowNormal;
        }

    }

}

.ss-testemunhos
{
    background: url("../imgs/ss-testemunhos.jpg") no-repeat center top;
    background-size: cover;

    .owl-nav
    {
        position: absolute;
        width: 100%;
        top: 50%;
    }

    .owl-prev 
    {
        right: 15%;
    }

    .owl-next 
    {
        left: 15%;
    }    

    .owl-prev,
    .owl-next
    {
        position: absolute;
        height: 30px;
        margin-top: -15px;        
        i
        {
            color: $bgColorBtnMais;
        }
    }

    .item-depoimento
    {
        text-align: center;
        padding: 0 25%;

        img 
        {
            border: 2px solid $primaryColor;
            border-radius: $radiusPadrao;
            width: auto;
            float: left;
            margin-right: 10px;
        }

        p 
        {
            font-family: $secondaryFont;
            font-weight: $fontWeightBold;

            &::before 
            {
                content: '"';
            }

            &::after 
            {
                content: '"';
            }            

        }

        footer 
        {
            text-align: left;
            display: inline-block;
            overflow: hidden;
            min-width: 240px;
            margin-top: 20px;
        }

        .autor 
        {
            padding: 5px 0;
        }

        h5
        {
            color: #444;
            font-size: $fontSizeBase * 1.4;
            font-weight: $fontWeightNormal;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
        }

        h6 
        {
            color: #eb5951;
            font-size: $fontSizeBase * 1.4;
            font-weight: $fontWeightBold;
            margin: 0;
            padding: 0;
        }

    }

}

.ss-parceiros
{
    background: url("../imgs/ss-parceiros.jpg") no-repeat center center;
    background-size: cover;    
}