//Sessão Topo de cada página interna.
.ss-topo
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;    

    img 
    {
        max-width: 100%;
    }

} 

.ss-interna 
{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; 

    header 
    {
        h2 
        {
            font-size: $fontSizeBase * 2.5;
        }

    }  

    .ss-conteudo
    {
        p 
        {
            font-size: $fontSizeBase * 1.6;
        }
    }  
    
    .ss-container-pd 
    {
        padding: 180px 40px;
        width: auto;   
        @include breakpoint($smallDesktop)
        {   
            padding: 100px 0;
        } 

    }

}

.ss-txt
{

    .hd-w-legenda 
    {
        text-align: center;
        position: relative;
    }

    header 
    {
        h2 
        {
            font-size: $fontSizeBase * 3;
        }

    }   

    .ss-conteudo
    {
        width: 530px;
        max-width: 100%;

        p
        {
            font-size: $fontSizeBase * 2.5;
            font-weight: $fontWeightLight;
        }
    }
}

.ss-txt-rgt
{

    header 
    {
        text-align: right;

        &::after 
        {
            right: 0;
            margin-right: 0;
        }

    }

    .ss-conteudo
    {
        text-align: right;
        float: right;
    }
}

.ss-txt-lft
{

    header 
    {
        text-align: left;

        &::after 
        {
            right: initial;
            left: 50%;
            margin-left: -25px;
            margin-right: 0;
        }

    }

    .ss-conteudo
    {
        text-align: left;
    }
}  

//Quem Somos
.pg-somos
{

    .ss-somos-missao
    {
        background-image: url("../imgs/quem-somos-missao.jpg"); 
    }

    .ss-somos-visao 
    {
        background-image: url("../imgs/quem-somos-visao.jpg"); 
    }

    .ss-somos-valores 
    {
        background-image: url("../imgs/quem-somos-valores.jpg"); 
    }   
    
    .ss-somos-equipe 
    {
        background-image: url("../imgs/quem-somos-equipe.jpg"); 
    }       

    .lista-membros
    {

        float: left;
        overflow: initial;
        width: 100%;

        li 
        {
            float: left;
            width: 100%;
            position: relative;
            margin: 0;
            margin-bottom: -40px;
            z-index: 20;            
        }

        figure 
        {
            border-radius: $radius100;
            position: relative;
            z-index: 20;
            overflow: hidden;
            width: 320px;
            height: 320px;
        }

        header 
        {
            text-align: left;
            margin-bottom: 20px;
            padding: 0;

            &::after 
            {
                display: none;
            }

            h3, h4 
            {
                color: $secondaryColor;
                margin: 0;
                padding: 0;
                text-transform: uppercase;
            }

            h3 
            {
                
                font-size: $fontSizeBase * 2.8;
                font-weight: $fontWeightNormal;
            }

            h4 
            {
                font-size: $fontSizeBase * 1.6;
                font-weight: $fontWeightSemiBold;
                padding-top: 5px;
            }
        }

        .txt-membro 
        {
            background: $primaryColor;
            background-clip: padding-box;
            border: 9px solid rgba(57, 74, 58, 0.1);
            border-top-right-radius: 150px;
            border-bottom-right-radius: 150px;
            position: absolute;
            top: 15px;
            padding: 20px 50px;
            padding-left: 180px;
            width: 640px;
            left: 160px;
            height: 290px;

            p 
            {
                font-size: $fontSizeBase * 2;
                line-height: 1.2em;
                margin: 0;
            }        

        }


        /* Alinhado à direita */

        .right
        {

            figure 
            {
                float: right;
            }

            .txt-membro
            {
                border-radius: 0;
                border-top-left-radius: 150px;
                border-bottom-left-radius: 150px;
                padding-right: 180px;
                padding-left: 90px;
                right: 160px;
                left: initial;
                width: 700px;
            }    

        }

    }

}

.pg-como-ajudar
{

    .ss-txt 
    {
        h2 
        {
            font-size: $fontSizeBase * 2.5;
            font-weight: $fontWeightLight;
        }
    }

    .hd-topo
    {
        text-align: center;
        margin-bottom: 80px;
        &::after 
        {
            right: initial;
            margin-right: inherit;
        }
    }

    .ss-conteudo-interna
    {
        width: 350px;

        h2 
        {
            font-size: $fontSizeBase * 3; 
        }
    }

    .ss-container-pd 
    {
        padding: 40px;
        padding-bottom: 160px;
    }

    .ss-ajudar-futuro 
    {
        background-image: url("../imgs/como-ajudar-futuro.jpg"); 
    }

    .ss-ajudar-apadrinhamento
    {
        background-image: url("../imgs/como-ajudar-apadrinhamento.jpg");
    }

    .ss-ajudar-apadrinhamento,
    .ss-ajudar-sonho
    {

        .hd-w-legenda
        {
            margin-bottom: 80px;
            p 
            {
                margin: 0;
            }
        }

        .hd-topo
        {
            margin-bottom: 0;
        }

        .ss-container-pd
        {
            padding-bottom: 100px;
        }

        .ss-conteudo-interna
        {

            header 
            {
                &::after 
                {
                    left: 0;
                    margin-left: 0;
                }
            }

            p 
            {
                font-size: $fontSizeBase * 2;
            }
        }

    }

    .ss-ajudar-sonho
    {
        background-color: $colorBtnDoe;
        
        &::after 
        {
            content: "";
            background: url("../imgs/pattern-ls.png") repeat;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            opacity: .2;
        }

        .item
        {
            position: relative;
        }

        .item-row 
        {
            margin: 10px 0;
            border-radius: 10px;
            box-shadow: $dropShadowNormal;
            overflow: hidden;
            height: 180px;

            .header 
            {
                background-color: $bgHeaderItem;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                box-shadow: $dropShadowNormal;
                text-align: center;
                padding: 10px;
                padding-bottom: 20px;
                h5
                {
                    font-size: $fontSizeBase * 1.5;
                    font-weight: $fontWeightMedium;
                    line-height: 1.2em;
                    margin: 0;                    
                }
            }

            .conteudo-lista
            {
                background: $primaryColor;
                border-radius: 10px;              
                box-shadow: $dropShadowNormal;
                cursor: pointer;
                padding: 20px 15px;
                margin-top: -10px;
                position: relative;
                z-index: 10;
            }

            .hd-conteudo
            {
                overflow: hidden;
                margin-bottom: 20px;
                position: relative;
            }

            .favoritar 
            {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                width: 20px;
                height: 20px;
                opacity: 0;
                transition: opacity .5s;
                i 
                {
                    color: $colorHeaderFSonho;
                }
            }

            &.amei 
            {
                .favoritar
                {
                    opacity: 1;
                }
            }

            figure 
            {
                border: 2px solid $bgHeaderItem;
                border-radius: $radius100;
                width: 100px;
                height: 100px;
                overflow: hidden;
                float: left;
                margin-right: 10px;
                img 
                {
                    max-width: 100%;
                }
            }

            &.fm 
            {
                figure 
                {
                    border: 2px solid $colorHeaderFSonho;
                }
            }            

            .hgroup
            {
                padding: 30px 0 0;
            }

            h3, h4 
            {
                color: $bgHeaderItem;
                margin: 0;
                padding: 0;
                line-height: 1em;
            }

            &.fm 
            {
                h3, h4 
                {
                    color: $colorHeaderFSonho;
                }
            }

            h3 
            {
                font-size: $fontSizeBase * 2;
            }

            h4 
            {
                font-size: $fontSizeBase * 1.9;
            }

            p 
            {
                color: $secondaryColor;
                font-size: $fontSizeBase * 1.2;
                font-weight: $fontWeightMedium;
                text-align: justify;
                line-height: 1.3em;
            }

        }

    }

    /* Carousel Owl */

    .owl-lista-criancas
    {

        .owl-nav
        {
            width: 450px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            height: 70px;
            padding: 40px 0 0;
        }

        .owl-next, .owl-prev 
        {
            position: absolute;
        }

        .owl-next 
        {
            right: 0;
        }

        .owl-prev 
        {
            left: 0;
        }

        .owl-dots 
        {
            position: relative;
            text-align: center;
            width: 400px;
            margin: -33px auto 0;

            .owl-dot 
            {
                display: inline-block;
                zoom: 1;

                span 
                {
                    background: $primaryColor;
                    border-radius: 30px;
                    color: $bgHeaderItem;
                    display: block;
                    font-size: $fontSizeBase * 1.5;
                    width: 25px;
                    height: 25px;
                    margin: 5px;
                    padding: 2px 0;
                    opacity: .7;
                    transition: opacity .2s ease;    
                }

                &.active,
                &:hover
                {
                    span 
                    {
                        opacity: 1; 
                    }
                }

            }
        }

    }

    .item
    {
        img 
        {
            width: auto;
        }
    }

}

.pg-contato
{

    main 
    {
        padding: 40px 0;
    }

    .ss-wrapper
    {
        background: #fff;
        background: rgba(255,255,255,.55);

        &::before 
        {
            content: "";
            background: url("../imgs/pattern-ls.png") repeat;
            width: 100%;
            height: 100%;
            opacity: .4;
            position: absolute;
            z-index: -1;
        }
    }

    .ss-container
    {
        padding-left: 0;
        padding-right: 0;
        
        &::before 
        {
            display: none;
        }
    }

    .ss-bd-int
    {
        border-radius: 10px;
        box-shadow: $dropShadowNormal;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0;
        overflow: hidden;
        position: relative;
    }

    .ss-contato 
    {
        background: $primaryColor;
        background: rgba(255,255,255,.85);
        padding: 60px 50px;

        &::before 
        {
            background: url("../imgs/pattern-ls-blk.png") repeat;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            opacity: .5;
        }

    }    

    .legenda-topo
    {
        position: absolute;
        bottom: 60px;
        left: 60px;
        width: 500px;

        h2 
        {
            color: $colorLinksBlack;
            font-size: $fontSizeBase * 3;
            font-weight: $fontWeightSemiBold;
            line-height: 1.3em;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 0;
        }

    }

    .lista-passos
    {
        padding: 0 3%;
        position: relative;
        z-index: 10;
        margin: 0 auto;  
        li
        {
            border-bottom: 1px solid $borderColorItens;
            display: inline-block;
            float: none;
            width: 50%;
            padding: 0 0 3%;
            overflow: hidden;
            margin: 0 -1px 3%;

            .passos-conteudo
            {
                position: relative;
                overflow: hidden;
                padding: 0 5%;
            }

            &:last-child
            {
                border-bottom: 0;
                width: 95%;
                clear: both;
                margin: 0 3%;
                padding: 0;

                .passos-conteudo
                {
                    width: 450px;
                    max-width: 100%;
                    margin: 0 auto;
                    padding: 0;
                }

            }

            figure 
            {
                border: 5px solid $borderColorItens;
                border-radius: $radius100;
                float: left;
                width: 120px;
                height: 120px;
                overflow: hidden;
                position: relative;
                margin-right: 20px;
            }

            .num 
            {
                background: $borderColorItens;
                border-radius: $radiusPadrao;
                display: block;
                font-size: $fontSizeBase * 2.1;
                font-weight: $fontWeightSemiBold;
                line-height: 1em;
                position: absolute;
                padding: 14px 12px 0 0;
                width: 45px;
                height: 45px;
                text-align: right;
                top: 2px;
                left: -2px;
            }

            img 
            {
                width: auto;
            }

            h4 
            {
                color: $colorH4Passos;
                font-size: $fontSizeBase * 2.7;
                font-weight: $fontWeightMedium;
                line-height: 1.2em;
                margin: 0;
                padding: 0;
                text-transform: uppercase;
            }

            p 
            {
                color: $colorH4Passos;
                font-size: $fontSizeBase * 1.2;
                font-weight: $fontWeightMedium;
                line-height: 1.3em;
            }

        }
    }

    .ss-txt 
    {
        header
        {
            h2 
            {
                font-size: $fontSizeBase * 2.2
            }
        }
    }

    .ss-form-contato
    {
        .ss-container
        {
            padding: 0;
        }

        .hd-w-legenda 
        {
            p 
            {
                font-size: $fontSizeBase * 1.3;
                font-weight: 500;
                line-height: 1.5em;
                margin: 0;
                text-align: center;                
            }
        }
    }

    .form-container
    {
        position: relative;
        overflow: hidden;
        padding: 0 10%;
        margin-top: 30px;

        label
        {
            width: 50%;
            float: left;
            margin: 0;

            .input 
            {
                border: 2px solid #777;
                border-radius: 25px;
                box-sizing: border-box;
                color: #777;
                font-family: $primaryFont;
                font-size: $fontSizeBase * 1.6;
                font-weight: $fontWeightNormal;
                letter-spacing: 1px;
                padding: 5px 20px;
                outline: none;
                text-transform: uppercase;
                width: 110%;
            }

            .inputBg1
            {
                background-color: $inputBg1;
            }

            .inputBg2
            {
                background-color: $inputBg2;
            }

            .inputBg3
            {
                background-color: $inputBg3;
            }

            .inputBg4
            {
                background-color: $inputBg4;
            }


        }

    }

    .form-info
    {
        p 
        {
            font-size: $fontSizeBase * 1.2;
            font-weight: 500;
            line-height: 1.5em;
            margin: 0;
            text-align: center;
        }
    }

}