//Background Colors
$bgColorPrimary: #96ccc7; 
$bgColorGaleria: #c9b075;
$bgIconsHeader: #dde8e7; 
$bgFooterLogo: #b5be9f;
$bgHeaderItem: #79cdc8;
$bgBgColorBtn: #94bc62;
$bgColorBtnSlider: #599c78;

//Bg paginas 
$bgQuemSomos: #bccf9f;
$bgComoAjudar: #eb5951;
$bgBlog: #4e4d4d;
$bgContato: $bgComoAjudar;

//Cores
$primaryColor: #fff;  
$secondaryColor: #4e4d4d;
$terciaryColor: #ddd;
$forfthColor: #c6d0ae;

//Como Ajudar
$colorBtnDoe: #d9524b;
$colorHeaderFSonho: #db5864;
$colorLinksBlack: #666;
$colorH4Passos: #9fb184;

//Pagina Contato
$colorHeaderFormContato: #777;
$borderColorItens: #f7df7b;

//Pagina Blog
$colorInfoNoticia: #aeaeae;
$colorDestaque: #d9524b;
$colorTituloNoticia: #5b5e60;
$colorConteudoNoticia: $colorHeaderFormContato;
$colorComent: #aeaeae;
$colorInput: $colorComent;
$borderNoticia: #d9dddf;
$borderComentario: #ececec;
 
$inputBg1: #f7b6a7;
$inputBg2: #96ccc7;
$inputBg3: #c4d4aa;
$inputBg4: #f7df7b;

//Icons
$iconsColor: #777978;

//Fontes  

    $primaryFont: "Montserrat", "Arial Black", Gadget, sans-serif;
    $secondaryFont: "proxima-nova", Arial, Helvetica, sans-serif;
    $fontSizeBase: 10px;

    //Weight
    $fontWeightLight: 300;
    $fontWeightNormal: 400;
    $fontWeightMedium: 500;
    $fontWeightSemiBold: 600;
    $fontWeightBold: 700;

//Botoes
$radiusPadrao: 50px; 
$radius100: 100%; 
$bgColorBtn: #db5864; 
$bgColorBtnMais: #eb5951;
$bgColorBtnHover: #37a085;

//Efeitos
$gradienteBottomBlackToAlpha: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
$gradienteTopPrincipal: linear-gradient(0deg, rgba(150,204,199,0) 0%, rgba(150,204,199,0.5) 50%, rgba(150,204,199,1) 100%);
$gradienteTopQuemSomos: linear-gradient(0deg, rgba(188,207,159,0) 0%, rgba(188,207,159,0.5) 50%, rgba(188,207,159,1) 100%);
$gradienteTopComoAjudar: linear-gradient(0deg, rgba(235,89,81,0) 0%, rgba(235,89,81,0.5) 50%, rgba(235,89,81,1) 100%); 
$gradienteTopBlog: linear-gradient(0deg, rgba(77,76,76,0) 0%, rgba(77,76,76,0.5) 50%, rgba(77,76,76,1) 100%);
$gradienteTopContato: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,1) 100%);

$dropShadow: 0px 0px 40px 0px rgba(0,0,0,0.5);
$dropShadowNormal: 0 0 20px 0 rgba(0,0,0,0.3);
$dropShadowLight: 2px 2px 5px 0px rgba(0,0,0,0.2);

$dropShadowInicial: 0px 0px 0px 0px rgba(0,0,0,0);
$dropShadowFinal: 0px 0px 8px 0px rgba(0,0,0,0.3);

$transitionAll: all .2s ease-in-out;
$transitionAll5s: all .5s ease-in-out;
$transitionBg: background-color .5s ease-in-out;

//Media Queries

    //Desktops
    $largeDesktop: 1200px; // > 1200px
    $smallDesktop: 992px 1199px; // entre 1200px e 992px 
    $allDesktop: 992px; // > 992px

    //Tablets
    $tablet: 768px 991px; //tablets portrait: 

    //Celular
    $allCelularPlus1: 0 768px;
    $allCelular: 0 767px; // todos os dispositivos móveis < 768px
    $largeCelular: 481 767px;
    $smallCelular: 0 480px; 
    $smallerCelular: 0 420px;